footer {
    background-color: #222;
    height: 50px;
}

.footer-content {
    text-align: left;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.footer-content span {
    font-family: 'Header';
    font-weight: normal;
    color: #CCCCCC;
    font-size: 0.8em;
    margin-left: 40px
}


/*

    **** Primary Colors ****
    epam blue: #76cdd8
    lime green: #CEDB56
    graphite: #222222
    white: #fff

    **** Secondary Colors ****
    red: D35D47
    bright blue: 008ACE
    sharp blue: 39C2D7
    dark blue: 263852
    light gray: CCCCCC
    dark gray: 464547

*/