.auth-content:hover {
    /* transform: scale(1.01); */
    box-shadow: 10px 10px 30px #263852;
}

.auth-content {
    /* width: fit-content; */
    /* width: 50vw; */
    /* width: 100%; */
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;

    /* border: 1px solid red; */
}

.auth-text {
    display: block;
    font-family: "Header";
    font-size: 1.7em;
    margin: 5px 0 20px 0;
}

.auth-input {
    border: 1px solid #263852;
    /* width: 40vw; */
    width: 80%;
    padding: 10px;
    margin: 10px 20px;
    color: #222222;
    font-family: "Header";
}

.auth-input:hover, .auth-input:focus{
    border: 1px solid #39C2D7;
    /* outline: 1px solid #39C2D7; */
}

.btn {
    font-family: "Header";
    font-weight: bold;
    border: none;
    /* width: 25vw; */
    width: 50%;
    height: 50px;
    padding: 10px;
    margin: 20px 0;
    background-color: #a3c644;
    color: #fff;
    font-weight: bold;  
}

.btn:hover, .btn:focus {
    background-color: #91af3e;
}
.error-txt {
    text-align: right;
    padding: 2% 5%;
    display: block;
    color: #D35D47;
}
.auth-helper {
    margin: 5px 0px 20px 0px;
    font-family: "Header";
}

.next-btn {
    width: 10vw;
    margin: 0 10px;
}

.next-btn a {
    text-decoration: none;
    color: inherit;
}

.auth-file {
    text-align: left;
    display: block;
    font-family: "Header";
    margin: 10px;
}