header {
    background-color: #222;
    height: 60px;
}

.header-content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.header-img {
    padding: 5px 30px;
    height: 40px;
    content: url("../images/EPAM_LOGO.png");
}

.header-text {
    position: absolute;
    top: 0;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 100%;
}

.header-text h1 {
    font-family: 'Header';
    font-weight: normal;

    /* For vertical center */
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


/*

    **** Primary Colors ****
    epam blue: #76cdd8
    lime green: #CEDB56
    graphite: #222222
    white: #fff

    **** Secondary Colors ****
    red: D35D47
    bright blue: 008ACE
    sharp blue: 39C2D7
    dark blue: 263852
    light gray: CCCCCC
    dark gray: 464547

*/