.sidenav {
    /* min-height: calc(100vh  - 60px - 50px);  */
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #222222;
    overflow-x: hidden;
    padding-top: 10px;
}

.sidenav a {
    padding: 16px 8px 6px 16px;
    text-decoration: none;
    font-size: 1.25em;
    color: #CCCCCC;
    display: block;
    font-family: "Header"
}

.sidenav a:hover {
    color: #fff;
    cursor: pointer;
}

.home-main {
    background-color: #CCCCCC;
}

.main {
    margin-left: 230px; /* Same as the width of the sidenav */
    /*font-size: 28px; /* Increased text to enable scrolling */
    /* padding: 0px 10px; */
}
.home-status-header {
    /* border: 5px solid red; */
    float: right;
    /* text-align: right; */
    padding: 5px 15px;
}

.home-status-header .btn {
    /* float: right; */
    margin: 0px;
}
.application-status {
    font-family: "Decorative";
    font-size: 2.5em;
    text-align: center;
    padding: 20%;

    width: fit-content;
    height: fit-content;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.auth-content {
    background-color: #fff;
}



@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*

    LG: 00c853
    DG: 1faa00

    **** Primary Colors ****
    epam blue: #76cdd8
    lime green: #CEDB56
    graphite: #222222
    white: #fff

    **** Secondary Colors ****
    red: D35D47
    bright blue: 008ACE
    sharp blue: 39C2D7
    dark blue: 263852
    light gray: CCCCCC
    dark gray: 464547

*/