* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    margin: 0;
}


html {
    position: relative;
    min-width: 580px;
    min-height: calc(100vh  - 60px - 50px);
    height: 100%;
}

@font-face {
    font-family: "Header";
    src: url("../fonts/MuseoSans-100.otf") format('opentype');
}

@font-face {
    font-family: "Body";
    src: url("../fonts/SourceSansPro-Black.otf") format('opentype');
}

@font-face {
    font-family: "Decorative";
    src: url("../fonts/BLANCH_CAPS.otf") format('opentype');
}