main {
    min-height: calc(100vh  - 60px - 50px);
    background-color: #76cdd8;
    position: relative;
    /* height: -webkit-fill-available; */
}

.main-auth-content {
    /* padding: 60px 30px; */
    text-align: center;

    width: 50%;
    display: table;
    /* width: fit-content; */
    /* height: fit-content; */
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    /* border: 1px solid black; */
}

.hide {
    display: none;
}


/*

    LG: 00c853
    DG: 1faa00

    **** Primary Colors ****
    epam blue: #76cdd8
    lime green: #CEDB56
    graphite: #222222
    white: #fff

    **** Secondary Colors ****
    red: D35D47
    bright blue: 008ACE
    sharp blue: 39C2D7
    dark blue: 263852
    light gray: CCCCCC
    dark gray: 464547

*/